<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Easy Apply - Job Portal Website</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicon -->
	<link href="static/img/favicon.ico" rel="icon">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link href="static/lib/animate/animate.min.css" rel="stylesheet">
	<link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

	<!-- Customized Bootstrap Stylesheet -->
	<link href="static/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link href="static/style-2.css" rel="stylesheet">
	<script>
		function uploadResume() {
	// Get the form data
	var formData = new FormData(document.getElementById("uploadForm"));

	// Make an AJAX request to the Flask route
	fetch('/upload_resume', {
		method: 'POST',
		body: formData
	})
	.then(response => response.text())
	.then(data => {
		// Update the content of the text container with the response from Flask
		document.querySelector('.text-container').innerHTML = data;
	})
	.catch(error => {
		console.error('Error:', error);
	});
}
function getjobs() {
	// Get the text content of the text container
	var textContent = document.querySelector('.text-container').textContent;

	// Make an AJAX request to the Flask route
	fetch('/getjobs', {
		method: 'POST',  // Or 'GET' depending on your Flask route
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({ 'candidate_profile': textContent })
	})
	.then(response => {
		if (!response.ok) {
			throw new Error('Network response was not ok');
		}
		// Process the response as needed
	})
	.catch(error => {
		console.error('Error:', error);
	});
}

	</script>
</head>

<body>
	<div class="container-xxl bg-white p-0">
		<!-- Spinner Start -->
		<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
			<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Spinner End -->


		<!-- Navbar Start -->
		<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
			<a href="/" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
				<h1 class="m-0 text-primary">FindJob</h1>
			</a>
			<button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ms-auto p-4 p-lg-0">
					<a href="/" class="nav-item nav-link">Home</a>
				   </div>
</div>
		</nav>
		<!-- Navbar End -->

		<!-- Jobs Start -->
        <div class="container-xxl py-5">
		<h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">UPLOAD YOUR RESUME</h1>
			<div class="uploadresume-container">

							<h4 class="mb-4">Select a file from device</h4>
							<form id = "uploadForm" action="/getjobs" method="POST" enctype="multipart/form-data" >
								<div class="row g-3">
									<div class="form-group">
							            <div class="file-upload-wrapper">
                                            <div class="file-input-container">
                                                <img src="static\img\uploadgreen.jpg" alt="Upload Icon" class="upload-image">
                                                <input type="file" id="file" name="file" accept="image/*">
								            </div>
                                        </div>
                                        <div class="text-container" style="margin:">
                                            <p class="fs-4 fw-small text-white mb-6 pb-2 small-text"></p>
							            </div>
                                    </div>

                                </div>
                                <div class="col-12">
                                                <button class="btn btn-primary w-100" type="button" onclick="uploadResume()" >Extract skills</button>
                                                <button class="btn btn-primary w-100" type="submit" >Find Jobs</button>
                                </div>
					        </form>
				            <form action="/display" method="get">

                            </form>


            </div>



         </div>
    </div>



		<!-- Footer Start -->
		<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
			<div class="container py-5">

			</div>
		</div>
		<!-- Footer End -->


		<!-- Back to Top -->
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="static/lib/wow/wow.min.js"></script>
	<script src="static/lib/easing/easing.min.js"></script>
	<script src="static/lib/waypoints/waypoints.min.js"></script>
	<script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- Template Javascript -->
	<script src="static/js/main.js"></script>
</body>

</html>